<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="header">
        <span class="logo">MP <b>MiPanel</b></span>
        <span class="toggle">Toggle navigation</span>
    </div>
    <div class="contenedor">
        <nav class="contenedor1">
            <ul>
                <li>
                    <a class="link" asp-page="/Index">
                        <span class="icon">&#128712;</span>
                        inicio
                    </a>
                </li>
                <li>
                    <a class="link" asp-page="/Privacy">
                        <span class="icon">&#128712;</span>
                        saludo
                    </a>
                </li>
                <li>
                    <a class="link" asp-page="/Privacy">
                        <span class="icon">&#128274;</span>
                        privacidad
                    </a>
                </li>
            </ul>
        </nav>
        <main class="content" role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>